@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.title,
.flex-column {
  display: flex;
  flex-direction: column;
}

.title,
.center {
  align-items: center;
  align-self: center;
}

.gap-md {
  gap: 1rem;
}

.pd-top-bottom {
  padding: 1rem 0 2rem 0;
}

.title {
  text-align: center;
  margin: 10% 0 12% 0;
  gap: 1rem;
  max-width: 80%;
}

.max-width-90 {
  max-width: 90%;
}
.input-width {
  place-content: center;
  max-width: 400px;
  min-width: 400px;
}

.mg-top-bt {
  margin-top: 5rem;
}

.logo {
  min-width: 2rem;
  max-width: 2rem;
}

.child-color-white .justify-center {
  color: white;
}

.text-shadow {
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5), 1px -1px 0 rgba(0, 0, 0, 0.5),
    -1px 1px 0 rgba(0, 0, 0, 0.5), 1px 1px 0 rgba(0, 0, 0, 0.5);
}

.flex-responsive {
  display: flex;
}

.align-start {
  align-items: start !important;
}

@media screen and (max-width: 768px) {
  .input-width {
    place-content: center;
    max-width: 350px;
    min-width: 350px;
  }
  .flex-responsive-2 {
    align-items: start;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .hide-xs {
    display: none;
  }
  .flex-responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 320px) {
  .input-width {
    place-content: center;
    max-width: 260px;
    min-width: 260px;
  }
}
